html,
body {
  padding: 0;
  margin: 0;
}

.search-input {
  outline: none;
  font-size: 16px;
  border-radius: 10;
  min-width: 350px;
}

.category-btn:hover {
  background-color: #F68B1F !important;
  color: white !important;
}

.category-btn:hover span{
  color: white !important;
}

.category-btn{
  font-weight: bold !important;
  text-transform: capitalize;
  display: flex;
  align-items: center;
  justify-content: start;
  cursor:pointer;
  background: transparent;
  outline: none;
  border: none;

  padding: 7px 15px;
  border-radius: 20px;
  transition: all 0.3s ease;
}

.react-player {
  height: 77vh !important;
  width: 100% !important;
}


@media screen and (max-width: 600px) {
  .react-player {
    height: 45vh !important;
  }
}